.action_bar {
    display: flex;
    height: 70px;
    width: 100%;
    padding-top: 15px;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    background-color: white;
    border-bottom: 2px solid black;
}

.rounded_corner {
    background-color: rgb(236, 234, 235);
    height: 45px;
    display: table;
    width: 100%;
    border-radius: 25px;
}

.input_field {
    height: 45px;
    background: transparent;
    width: 80%;
    font-size: 1.5rem;
    border-style: none;
}

.icon_button {
    height: 45px;
    width: 45px;
    margin-right: 15px;
    margin-left: 15px;
}

.catetory_tile {
    display: inline;
    text-align: center;
}

.rounded_chip {
    background-color: rgb(236, 234, 235);
    display: inline;
    border-radius: 25px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.rounded_chip {
    background-color: rgb(236, 234, 235);
    display: inline;
    border-radius: 25px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}

.rounded_chip_small {
    background-color: rgb(236, 234, 235);
    float: right;
    border-radius: 25px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.content_area {
    margin-top: 70px;
}

.detalBottomText {
    color: white;
}

.buyButton {
    background-color: red;
    width: 165px;
    height: 64px;
    border-radius: 2px;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 32px;
    padding-top: 10px;
    box-sizing: border-box;
}

.category_selector {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    position: fixed;
    top: 70px;
    background-color: white;
    text-align: center;
}

.button_to_top {
    background-color: white;
    height: 25px;
    display: inline-block;
    width: 165px;
    border-radius: 25px;
}

.button_to_top_area {
    position: absolute;
    text-align: center;
    width: 100%;
    display: inline-block;
    top: 100px;
    position: fixed;
}

.item_list {
    width: 100%;
    overflow-y: scroll;
    display: inline-block;
    background-color: rgb(238, 239, 240);
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    margin-top: 90px;
}

.button_create {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
}

textarea:focus,
input:focus {
    outline: none;
}

.search_bar {
    height: 100%;
    flex: 1;
    text-align: center;
}

.buying_button {
    background-color: rgb(54, 35, 32);
    height: 85px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    font-size: 40px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 20px;
}